@page
@model BH.Frontend.Web.Pages.DetailsModel
@{
}
@if (this.Model.CustomerDetails == null)
{
    <label class="alert-danger">Invalid Url</label>
}
else
{
    <div class="row">
        <div class="col-3"><b>First Name</b></div>
        <div class="col-3">@this.Model.CustomerDetails.Customer.FirstName</div>
        <div class="col-3"><b>Last Name</b></div>
        <div class="col-3">@this.Model.CustomerDetails.Customer.LastName</div>
    </div>
    <br />
    <a class="btn-dark" href="CreateAccount?id=@this.Model.CustomerDetails.Customer.ID">Create Account</a>
    <br />
    @if (this.Model.CustomerDetails.Accounts == null || this.Model.CustomerDetails.Accounts.Count == 0)
    {
        <label class="alert-warning">This user has no accounts</label>
    }
    else
    {
        @foreach (var account in this.Model.CustomerDetails.Accounts)
        {
            <div class="row">
                <div class="col-6"><b>Account:</b> @account.Account.AccountNumber</div>
            </div>
            <div class="row">
                <div class="col-6"><b>Balance:</b> @account.Account.CurrentBalance</div>
            </div>

            @if (account.Transactions == null || account.Transactions.Count == 0)
            {
                <label class="alert-warning">This account has no transactions</label>

            }
            else
            {
                <div class="row">
                    <div class="col-6">
                        <br />
                        <b>Transactions</b>
                    </div>
                </div>
                @foreach (var transaction in account.Transactions)
                {
                    <div class="row">
                        <div class="col-6">
                            @transaction.TransactionType.ToString() - @transaction.Amount
                        </div>
                    </div>
                }

            }
        }
    }
}